
<% if logged_in?(:site_admin) %>
  <nav class="breadcrumb-container d-flex py-1 mb-1 justify-content-between" aria-label="breadcrumb">
    <ol class="breadcrumb blogcrumb mb-0">
      <li><%= link_to fa_icon('file-text'), toggle_status_blog_path(blog), style: blog_status_color(blog) %></li>
      <li><%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %></li>
      <li><%= link_to fa_icon('trash'), blog, method: :delete, :"data-confirm" => "Are you sure?" %></li>
    </ol>
  </nav>
<% end %>