<div class="container">

  <nav class="navbar navbar-expand-lg mb-3 navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "Rodney Woollett", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav mr-auto">
          <%= nav_helper 'nav-link', 'span' %>
          <%= login_helper("nav-link") %>
        </div>
      </div>
    </div>
  </nav>
  <div class="nav-scroller py-1 mb-1" >
    <nav class="nav d-flex justify-content-between">
      <%= render @nav_topics %>
    </nav>
  </div>

</div>
