<h1>About Me</h1>

<p>With over 10 years’ experience as an Analyst Programmer, I have acquired extensive knowledge and expertise, please see the attached CV for the skills.</p>
<p>Ability to acquire and gain knowledge in computer systems for analytical investigations and have good analytical and problem solving. Provide team support and willing to ask and provide help.</p>
<p>I do have online repositories profiles at:</p>
<ul class="no-bullets">
<li>https://gitlab.com/rwlltt</li>
<li>https://bitbucket.org/rwlt</li>
<li>https://github.com/rwoollett</li>
</ul>
