<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <div class="row">
      <div class="col-md-4 fixed-col">
        <%= image_tag "profile.jpg", alt: "profile image", class: 'profile-image' %>
      </div>
      <div class="col-md-8">
        <p>With over 10 years’ experience as an Analyst Programmer, I have acquired extensive knowledge and expertise, please see the attached CV for the skills.</p>
        <p>Ability to acquire and gain knowledge in computer systems for analytical investigations and have good analytical and problem solving. Provide team support and willing to ask and provide help.</p>
        <p>
          <button 
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#repositories"
            aria-expanded="false"
            aria-controler="repositories"
          >
          Online repositories
          </button>
          <button 
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
          Job History
          </button>
        </p>

        <p>
          <div class="collapse" id="repositories">
            <div class="card card-body mb-1">
              https://gitlab.com/rwlltt
            </div>
            <div class="card card-body mb-1">
              https://bitbucket.org/rwlt
            </div>
            <div class="card card-body mb-1">
              https://github.com/rwoollett
            </div>
          </div>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-body mb-1">
              Job 1
            </div>
            <div class="card card-body mb-1">
              Job 2
            </div>
            <div class="card card-body mb-1">
              Job 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
