<h3>Available Contact</h3>

<hr>

<div class="row">
  <div class="col-md-6">
    <p><strong>Address:</strong> 19 Woodward St, Woodbourne, Blenheim 7206</p>
    <p><strong>Mobile Phone:</strong> <%= number_to_phone "0223216722" %></p>
    <p><strong>Email:</strong> <a href="mailto:rodney.woollett@gmail.com?subject=PortfolioContact">Email me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11950.966728754722!2d173.85632503455489!3d-41.509872368047866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d396bf24dc66181%3A0xad9dcb86cb05bcae!2s19%20Woodward%20Street%2C%20Woodbourne%2C%20Blenheim%207206!5e0!3m2!1sen!2snz!4v1642994005778!5m2!1sen!2snz" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>

