<main class="px-3">
  <h1>Personal Statement</h1>
  <p class="lead">My personal ambition is to be part of making something that will help people manage work and life balance. I am experienced and dedicated in computing technology and software systems. Computing and Software is about improving how we work, and I enjoy being part of that.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </p>
</main>
